<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">
          <mat-icon>search</mat-icon>
          <p>Tên máy</p>
        </div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        <div class="productName">{{element.productName}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="assign">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Assign</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        <div class="assign-container">
          <div class="image">
            <img src="{{element.assignID.image}}" alt="" />
          </div>
          <div class="name">{{element.assignID.name}}</div>
        </div>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Số lượng máy</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.quantity}}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="FixingDate">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Thời gian sửa chữa</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.fixingDate}}
      </td>
    </ng-container>

    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef>
        <span [routerLink]="['them-moi']" class="icon">
          <mat-icon>add_circle_outline</mat-icon>
        </span>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element; let id = index">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="subMenu">
          <button mat-menu-item (click)="routeToEdit(id)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteInfo(element.id)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <app-paginator></app-paginator>
</div>
