.container{
  background-color: black;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.menu-section{
  margin-top: 15px;
  margin-left: 15px;
  height: 30px;
  width: 200px;
  cursor: pointer;
  color: white;
  .sub-menu-section{
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 100%;
    padding: 30px 0;
    font-size: 18px;
  }
}

.name-software{
  margin-left: 10px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  width: 260px;
  .name{
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
}

.display-name{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 270px;
  background-color: antiquewhite;
  margin-left: 0;
  margin-bottom: 30px;
  .avatar{
    width: 50px;
    height: 50%;
    display: inline-block;
  }
  .avatar img{
    width: 100%;
    border-radius: 100%;
  }
  .name-employee{
    display: flex;
    flex-direction: column;
    .name-employee-detail, .name-employee-role{
      color: black;
      p{
        margin: 0;
      }
    }
    .name-employee-detail{
      font-size: 25px;
      font-weight: 700;
    }
  }
  .three-dot-funtion{
    color: black;
  }
  .three-dot-funtion:hover{
    cursor: pointer;
  }
}

