<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">
          <mat-icon>search</mat-icon>
          <p>Phiếu sửa chữa</p>
        </div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.repairTicket}}
      </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">
          <mat-icon>search</mat-icon>
          <p>Tên thiết bị</p>
        </div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.productName}}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">
          <mat-icon>search</mat-icon>
          <p>Hóa đơn</p>
        </div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.bill}}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="productCode">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Mã sản phẩm</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.productCode}}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="assign">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Assign</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        <div class="assign-container">
          <div class="image">
            <img src="{{element.assign.image}}" alt="" />
          </div>
          <div class="name">{{element.assign.name}}</div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="tag">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Loại</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.type === 'needToFix';else newbuy">
          <div class="productTag productTag-needToFix">Cần sửa</div>
        </ng-container>
        <ng-template #newbuy>
          <ng-container *ngIf="element.type === 'newbuy';else maintenance"
            ><div class="productTag productTag-newbuy">
              Mua mới
            </div></ng-container
          >
        </ng-template>
        <ng-template #maintenance>
          <ng-container *ngIf="element.type === 'maintenance';else liquidation"
            ><div class="productTag productTag-maintenance">
              Bảo trì
            </div></ng-container
          >
        </ng-template>
        <ng-template #liquidation>
          <ng-container *ngIf="element.type === 'liquidation';else fixing"
            ><div class="productTag productTag-liquidation">
              Thanh lý
            </div></ng-container
          >
        </ng-template>
        <ng-template #fixing
          ><div class="productTag productTag-fixing">Đang sửa</div></ng-template
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Thời gian</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.date}}
      </td>
    </ng-container>

    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef>
        <span [routerLink]="['them-moi']" class="icon">
          <mat-icon>add_circle_outline</mat-icon>
        </span>
      </th>
      <td
        class="table-data"
        mat-cell
        *matCellDef="let element;  let id = index"
      >
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="subMenu">
          <button mat-menu-item (click)="routeToEdit(id)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteReport(element.id)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <app-paginator></app-paginator>
</div>
