<form [formGroup]="machineInfoForm">
  <h4 class="title">
    Quay lai
    <span (click)="back()"><mat-icon>undo</mat-icon></span>
  </h4>
  <div class="form-field">
    <div class="form-field-element">
      <mat-label>Tên thiết bị</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="productName"
          placeholder="Máy xét nghiệm sinh hóa tự động"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!machineInfoForm.get('productName')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('productName')}}
      </mat-error>
    </div>

    <div class="form-field-element">
      <mat-label>Nhân viên phụ trách</mat-label>
      <mat-form-field appearance="outline">
        <mat-select
          formControlName="assign"
          name="assign"
          class="assign-container"
        >
          <mat-option
            *ngFor="let assign of assignName"
            [value]="assign.employeeID"
          >
            <div
              class="assign-container"
              style="
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                width: 100%;
              "
            >
              <div class="image">
                <img
                  src="{{assign.image}}"
                  alt=""
                  style="height: 30px; padding-right: 20px"
                />
              </div>
              <div class="name">{{assign.name}}</div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-element">
      <mat-label>Mã máy</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="productCode" placeholder="XN.NT.01" />
      </mat-form-field>
      <mat-error
        *ngIf="!machineInfoForm.get('productCode')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('productCode')}}
      </mat-error>
    </div>

    <div class="form-field-element">
      <mat-label>Mã Serial</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="serialCode" placeholder="123456" />
      </mat-form-field>
      <mat-error
        *ngIf="!machineInfoForm.get('serialCode')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('serialCode')}}
      </mat-error>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-element">
      <mat-label>Kiểu dáng</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="shape" placeholder="Phòng HS-MD" />
      </mat-form-field>
      <mat-error
        *ngIf="!machineInfoForm.get('shape')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('shape')}}
      </mat-error>
    </div>

    <div class="form-field-element">
      <mat-label>Nước</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="country" placeholder="Italy" />
      </mat-form-field>
      <mat-error
        *ngIf="!machineInfoForm.get('country')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('country')}}
      </mat-error>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-element">
      <mat-label>Ngày sản xuất</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="date"
          formControlName="dateOfManufature"
          placeholder="25/5/2022"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!machineInfoForm.get('dateOfManufature')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('dateOfManufature')}}
      </mat-error>
    </div>

    <div class="form-field-element">
      <mat-label>Lịch sử sửa chữa</mat-label>
      <mat-form-field appearance="outline">
        <input
          type="date"
          matInput
          formControlName="fixingHistory"
          placeholder="25/5/2024"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!machineInfoForm.get('fixingHistory')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('fixingHistory')}}
      </mat-error>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-element">
      <mat-label>Nhà cung cấp</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="supplier"
          placeholder="Công ty TNHH 1 thành viên Roche"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!machineInfoForm.get('supplier')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('supplier')}}
      </mat-error>
    </div>

    <div class="form-field-element">
      <mat-label>Nhà sản xuất</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="producer" placeholder="Roche" />
      </mat-form-field>
      <mat-error
        *ngIf="!machineInfoForm.get('producer')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('producer')}}
      </mat-error>
    </div>
  </div>

  <div class="button">
    <button mat-raised-button (click)="onFormSubmit()">Lưu</button>
    <button mat-raised-button (click)="onFormClear()">Xóa hết</button>
  </div>
</form>
