form {
  .title {
  display: flex;

  mat-icon {
    cursor: pointer;
    margin-left: 5px;
  }
}
  margin: 50px 50px;
  min-height: 60px;
  .form-field {
    display: flex;
    gap: 50px;
    .form-field-element {
      flex: 1 1;
      mat-label{
        font-size: 20px;
        font-weight: 500;
      }
      mat-form-field{
        margin-top: 10px;
        width: 100%;
        ::ng-deep .mat-mdc-text-field-wrapper {
          height: 45px;
          display: flex;
          align-items: center;
          padding-left: 20px !important;
        }
      }
    }
  }

  .button {
    text-align: right;
    margin-bottom: 25px;
    button:first-child {
      margin-right: 15px;
      background-color: #CEF9C6;
      color: black;
    }
    button:last-child{
      background-color: #FFE2E2;
      color: #FF4444;
    }
  }
}
