<form [formGroup]="billForm">
  <h4 class="title">
    Quay lai
    <span (click)="back()"><mat-icon>undo</mat-icon></span>
  </h4>
  <div class="form-field">
    <div class="form-field-element">
      <mat-label>Mã số hóa đơn</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="billNumber"
          placeholder="Máy xét nghiệm sinh hóa tự động"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!billForm.get('billNumber')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('billNumber')}}
      </mat-error>
    </div>

    <div class="form-field-element">
      <mat-label>Tên sản phẩm</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="productName" placeholder="abcxyz" />
      </mat-form-field>
      <mat-error
        *ngIf="!billForm.get('productName')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('productName')}}
      </mat-error>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-element">
      <mat-label>Ngày bán hàng</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="date"
          formControlName="dateOfSelling"
          placeholder="20/6/2023"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!billForm.get('dateOfSelling')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('dateOfSelling')}}
      </mat-error>
    </div>

    <div class="form-field-element">
      <mat-label>Mã sản phẩm</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="productCode" placeholder="XN.NT.01" />
      </mat-form-field>
      <mat-error
        *ngIf="!billForm.get('productCode')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('productCode')}}
      </mat-error>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-element">
      <mat-label>Số lượng sản phẩm</mat-label>
      <mat-form-field appearance="outline">
        <input
          type="number"
          matInput
          formControlName="quantity"
          placeholder="0"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!billForm.get('quantity')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('quantity')}}
      </mat-error>
    </div>

    <div class="form-field-element">
      <mat-label>Đơn giá sản phẩm</mat-label>
      <mat-form-field appearance="outline">
        <input
          type="number"
          matInput
          formControlName="unitPrice"
          placeholder="0"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!billForm.get('unitPrice')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('unitPrice')}}
      </mat-error>
    </div>
  </div>

  <div class="totalMoney">
    <div class="container">
      <h4 class="title">Tổng tiền thanh toán</h4>
      <p class="price">{{totalPrice}}</p>
    </div>
  </div>

  <div class="button">
    <button mat-raised-button (click)="onFormSubmit()">Cập nhật</button>
    <button mat-raised-button (click)="onFormClear()">Refresh</button>
  </div>
</form>
