.container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form{
  background-color: #eceff1;
  padding: 38px;
  border-radius: 16px;
  max-width: 300px;
  margin: auto;
}

.container mat-form-field{
  width: 100%;
}

.center{
  display: flex;
  justify-content: center;
}

.margin-top{
  margin-top: 16px;
}

.text-center{
  text-align: center;
}
