<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Email Address"
        formControlName="email"
      />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Please enter a correct email format
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
      />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Please enter a correct password
      </mat-error>
    </mat-form-field>

    <div class="center">
      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>
  </form>
</div>
