<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <app-menu-bar></app-menu-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-container">
      <div class="container">
        <div class="box">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
