.sidenav-container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-container{
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #EEEBE5;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box{
  width: 90%;
  min-height: 90%;
  background-color: white;
  border-radius: 8px;
}
