<form [formGroup]="fixInfoForm">
  <h4 class="title">
    Quay lai
    <span (click)="back()"><mat-icon>undo</mat-icon></span>
  </h4>
  <div class="form-field">
    <div class="form-field-element">
      <mat-label>Tên máy</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="productName"
          placeholder="Máy xét nghiệm sinh hóa tự động"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!fixInfoForm.get('productName')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('productName')}}
      </mat-error>
    </div>

    <div class="form-field-element">
      <mat-label>Nhân viên phụ trách</mat-label>
      <mat-form-field appearance="outline">
        <mat-select
          formControlName="assign"
          name="assign"
          class="assign-container"
        >
          <mat-option
            *ngFor="let assign of assignName"
            [value]="assign.employeeID"
          >
            <div
              class="assign-container"
              style="
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                width: 100%;
              "
            >
              <div class="image">
                <img
                  src="{{assign.image}}"
                  alt=""
                  style="height: 30px; padding-right: 20px"
                />
              </div>
              <div class="name">{{assign.name}}</div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-element">
      <mat-label>Số lượng máy</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="quantity" placeholder="1" />
      </mat-form-field>
      <mat-error
        *ngIf="!fixInfoForm.get('quantity')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('quantity')}}
      </mat-error>
    </div>

    <div class="form-field-element">
      <mat-label>Thời gian sữa chữa</mat-label>
      <mat-form-field appearance="outline">
        <input
          type="date"
          matInput
          formControlName="fixingDate"
          placeholder="08 Jan 2019"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!fixInfoForm.get('fixingDate')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('fixingDate')}}
      </mat-error>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-element">
      <mat-label>Tình trạng máy</mat-label>
      <textarea matInput formControlName="machineStatus"></textarea>
      <mat-error
        *ngIf="!fixInfoForm.get('machineStatus')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('machineStatus')}}
      </mat-error>
    </div>
  </div>
  <div class="button">
    <button mat-raised-button (click)="onFormSubmit()">Lưu</button>
    <button mat-raised-button (click)="onFormClear()">Xóa hết</button>
  </div>
</form>
