<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">
          <mat-icon>search</mat-icon>
          <p>Tên thiết bị</p>
        </div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.productName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="productCode">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">
          <mat-icon>search</mat-icon>
          <p>Mã máy</p>
        </div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.productCode}}
      </td>
    </ng-container>

    <ng-container matColumnDef="serialCode">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">
          <mat-icon>search</mat-icon>
          <p>Mã Serial</p>
        </div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.serialCode}}
      </td>
    </ng-container>

    <ng-container matColumnDef="shape">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Kiểu dáng</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.shape}}
      </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Nước</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.country}}
      </td>
    </ng-container>

    <ng-container matColumnDef="assign">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Người phụ trách</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        <div class="assign-container">
          <div class="image">
            <img src="{{element.assign.image}}" alt="" />
          </div>
          <div class="name">{{element.assign.name}}</div>
        </div>
      </td>
    </ng-container>

    <!-- Symbol Column -->

    <ng-container matColumnDef="dateOfManufature">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Ngày sản xuất</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.dateOfManufature}}
      </td>
    </ng-container>

    <ng-container matColumnDef="fixingHistory">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Lịch sử sửa chữa</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.fixingHistory}}
      </td>
    </ng-container>

    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef>
        <span [routerLink]="['them-moi']" class="icon">
          <mat-icon>add_circle_outline</mat-icon>
        </span>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element; let id = index">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="subMenu">
          <button mat-menu-item (click)="routeToEdit(id)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteMachine(element.id)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <app-paginator></app-paginator>
</div>
