<form [formGroup]="userForm">
  <h4 class="title">
    Quay lai
    <span (click)="back()"><mat-icon>undo</mat-icon></span>
  </h4>
  <div class="form-field">
    <div class="form-field-element">
      <mat-label>Tên nhân viên</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Phạm Minh Quang"
          id="name"
          formControlName="name"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!userForm.get('name')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('name')}}
      </mat-error>
    </div>

    <div class="form-field-element">
      <mat-label>Mã nhân viên</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="SV01234"
          id="employeeID"
          formControlName="employeeID"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!userForm.get('employeeID')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('employeeID')}}
      </mat-error>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-element">
      <mat-label>Số điện thoại</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="0123456789"
          id="phoneNumber"
          formControlName="phoneNumber"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!userForm.get('phoneNumber')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('phoneNumber')}}
      </mat-error>
    </div>

    <div class="form-field-element">
      <mat-label>Email</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="hello@gmail.com"
          id="email"
          formControlName="email"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!userForm.get('email')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('email')}}
      </mat-error>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-element">
      <mat-label>CCCD</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="number"
          placeholder="023939399339"
          id="cccd"
          formControlName="cccd"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!userForm.get('cccd')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('cccd')}}
      </mat-error>
    </div>

    <div class="form-field-element">
      <mat-label>Kinh nghiệm</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Thạc sĩ"
          id="experience"
          formControlName="experience"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!userForm.get('experience')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('experience')}}
      </mat-error>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-element">
      <mat-label>Chức vụ</mat-label>
      <mat-form-field appearance="outline">
        <mat-select
          formControlName="position"
          name="position"
          class="assign-container"
        >
          <mat-option
            *ngFor="let position of positionValue"
            [value]="position.value"
          >
            <div
              class="assign-container"
              style="
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                width: 100%;
              "
            >
              <div class="name">{{position.viewValue}}</div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error
        *ngIf="!userForm.get('name')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('position')}}
      </mat-error>
    </div>

    <div class="form-field-element">
      <mat-label>Nơi ở</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="penhouse landmark 81"
          id="accommodation"
          formControlName="accommodation"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!userForm.get('accommodation')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('accommodation')}}
      </mat-error>
    </div>
  </div>

  <div class="button">
    <button
      mat-raised-button
      (click)="onFormSubmit()"
      [disabled]="!userForm.valid"
    >
      Lưu
    </button>
    <button mat-raised-button (click)="onFormClear()">Xóa hết</button>
  </div>
</form>
