<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="billNumber">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">
          <mat-icon>search</mat-icon>
          <p>Mã số hóa đơn</p>
        </div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.billNumber}}
      </td>
    </ng-container>

    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">
          <mat-icon>search</mat-icon>
          <p>Tên máy</p>
        </div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.productName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="dateOfSelling">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Ngày bán hàng</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.dateOfSelling}}
      </td>
    </ng-container>

    <ng-container matColumnDef="productCode">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Mã sản phẩm</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.productCode}}
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Số lượng máy</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.quantity}}
      </td>
    </ng-container>

    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Đơn giá</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.unitPrice}}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalMoney">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Tổng tiền</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.totalMoney}}
      </td>
    </ng-container>

    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef>
        <span [routerLink]="['them-moi']" class="icon">
          <mat-icon>add_circle_outline</mat-icon>
        </span>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element; let id = index">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="subMenu">
          <button mat-menu-item (click)="routeToEdit(id)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteBillReport(element.id)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <app-paginator></app-paginator>
</div>
