<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="assign">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">
          <mat-icon>search</mat-icon>
          <p>Tên</p>
        </div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        <div class="assign-container">
          <div class="image">
            <img src="{{element.assign.image}}" alt="" />
          </div>
          <div class="name">{{element.assign.name}}</div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="employeeID">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">
          <mat-icon>search</mat-icon>
          <p>Mã số nhân viên</p>
        </div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.employeeID}}
      </td>
    </ng-container>

    <ng-container matColumnDef="cccd">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">
          <mat-icon>search</mat-icon>
          <p>CCCD</p>
        </div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.cccd}}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="accommodation">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Nơi ở</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.accommodation}}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Email</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.email}}
      </td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Chức vụ</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.position === 'director';else accountant">
          <div class="position position-director">Giám đốc</div>
        </ng-container>
        <ng-template #accountant>
          <ng-container *ngIf="element.position === 'accountant';else employee"
            ><div class="position position-accountant">
              Kế toán
            </div></ng-container
          >
        </ng-template>
        <ng-template #employee>
          <ng-container *ngIf="element.position === 'employee';else guard"
            ><div class="position position-employee">
              Nhân viên
            </div></ng-container
          >
        </ng-template>
        <ng-template #guard>
          <ng-container *ngIf="element.position === 'guard';else manager"
            ><div class="position position-guard">Bảo vệ</div></ng-container
          >
        </ng-template>
        <ng-template #manager
          ><div class="position position-manager">Quản lý</div></ng-template
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="experience">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Kinh nghiệm</div>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{element.experience}}
      </td>
    </ng-container>

    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef>
        <span [routerLink]="['them-moi']" class="icon">
          <mat-icon>add_circle_outline</mat-icon>
        </span>
      </th>
      <td class="table-data" mat-cell *matCellDef="let element; let id = index">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="subMenu">
          <button mat-menu-item (click)="routeToEdit(id)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteEmployee(element.id)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <app-paginator></app-paginator>
</div>
