.container{
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: flex-end;
  flex-direction: column;
  table{
    margin-top: 50px;
    .mat-mdc-header-cell{
      border-bottom: 1px solid black;
      .table-header{
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
          padding-top: 10px;
        }
      }
    }
    .mat-column-assign{
      .assign-container{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        flex-direction: row;
        width: 90%;
        .image{
          margin-right: 10px;
        }
      }
    }
    .mat-column-image ,.mat-column-assign{
      img{
        width: 30px;
        height: 30px;
        object-fit: fill;
        border-radius: 5px;
      }
    }
    .mat-column-position{
      .position{
        margin: auto;
        max-width: 89px;
        height: 20px;
        text-align: center;
        border-radius: 10.5px;
        font-weight: 500;
        font-size: 15px;
      }
      .position-director{
        background-color: #F5F0FF;
        color: #764CED;
      }
      .position-accountant{
        background-color: #E3EFFF;
        color: #1975D0;
      }
      .position-employee{
        background-color: #FFF1E2;
        color: #ED6400;
      }
      .position-guard{
        background-color: #F2FFF0;
        color: #4CED5C;
      }
      .position-manager{
        background-color: #F0FCFF;
        color: #4CB3ED;
      }
    }
    .mat-column-button{
      .icon{
          display: flex;
          justify-content: center;
          align-items: center;
      }
      td{
        .subMenu{
        button{
          max-width: 120px;
          height: 20px;
          text-align: center;
          border-radius: 10.5px;
          font-weight: 500;
          font-size: 15px;
        }
        button:first-child{
          background-color: #F5F0FF;
          color: #764CED;
        }
      }}
    }
    .table-data{
      text-align: center;
    }
  }
  app-paginator{
   margin-top: 20px;
  }
}


