<form [formGroup]="reportForm">
  <h4 class="title">
    Quay lai
    <span (click)="back()"><mat-icon>undo</mat-icon></span>
  </h4>
  <div class="form-field">
    <div class="form-field-element">
      <mat-label>Phiếu sửa chữa</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Article Image.jpg"
          id="repairTicket"
          formControlName="repairTicket"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!reportForm.get('repairTicket')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('repairTicket')}}
      </mat-error>
    </div>

    <div class="form-field-element">
      <mat-label>Tên thiết bị</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Máy xét nghiệm sinh hóa tự động"
          id="productName"
          formControlName="productName"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!reportForm.get('productName')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('productName')}}
      </mat-error>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-element">
      <mat-label>Hóa đơn</mat-label>
      <mat-form-field appearance="outline">
        <input matInput placeholder="abcxyz" id="bill" formControlName="bill" />
      </mat-form-field>
      <mat-error
        *ngIf="!reportForm.get('bill')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('bill')}}
      </mat-error>
    </div>

    <div class="form-field-element">
      <mat-label>Mã sản phẩm</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="abcxyz"
          id="productCode"
          formControlName="productCode"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!reportForm.get('productCode')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('productCode')}}
      </mat-error>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-element">
      <mat-label>Nhân viên phụ trách</mat-label>
      <mat-form-field appearance="outline">
        <mat-select
          formControlName="assign"
          name="assign"
          class="assign-container"
        >
          <mat-option
            *ngFor="let assign of assignName"
            [value]="assign.employeeID"
          >
            <div
              class="assign-container"
              style="
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                width: 100%;
              "
            >
              <div class="image">
                <img
                  src="{{assign.image}}"
                  alt=""
                  style="height: 30px; padding-right: 20px"
                />
              </div>
              <div class="name">{{assign.name}}</div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-field-element">
      <mat-label>Loại</mat-label>
      <mat-form-field appearance="outline">
        <mat-select formControlName="type" name="type" class="assign-container">
          <mat-option *ngFor="let type of typeValue" [value]="type.value">
            <div
              class="assign-container"
              style="
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                width: 100%;
              "
            >
              <div class="name">{{type.viewValue}}</div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-element">
      <mat-label>Thời gian</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="02 Jan 2019"
          id="date"
          type="date"
          formControlName="date"
        />
      </mat-form-field>
      <mat-error
        *ngIf="!reportForm.get('date')?.valid"
        style="margin: -15px 0 10px"
      >
        {{showNameError('date')}}
      </mat-error>
    </div>
  </div>

  <div class="button">
    <button mat-raised-button (click)="onFormSubmit()">Thêm mới</button>
    <button mat-raised-button (click)="onFormClear()">Xóa hết</button>
  </div>
</form>
